.Apps{
    width:70%;
    margin:auto;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:20px 20px;
    background-color:#f9fdff;
}
.AppsChild{
    padding:20px;
}

.AppsChild>button{
    width:100px;
    padding:6px;
    margin:8px;
    border:1px solid #03a9f4;
    background-color: white;
    color:#03a9f4;
}
.AppsChild>h6{
    margin-top: 10px;
}
.AppsChild>button:hover{
    background-color: #3393dd;
    color:white;
}
.AppsContainer{
    text-align: center;
    padding:50px;
    background-color:#f9fdff;
  
}

@media only screen and (min-width:480px)  and (max-width:1000px){
  .Apps{
    width:100%;
    grid-template-columns:1fr;
    gap:20px 20px;
}

.AppsChild img{
    width:90%;
}
}
@media only screen and (min-width:0px)  and (max-width:479px){
  .Apps{
    width:100%;
    grid-template-columns:1fr;
    gap:10px 10px;
}

.AppsChild img{
    width:100%;
}
}