.ContainerF01{
    width:100%;
    padding:auto 100px;
    padding:20px;
    margin-top: 50px;
}
.FGrid{
    display:grid;
    grid-template-columns:repeat(6,1fr);
    width:70%;
    margin:auto;
}
.Childiv{
  text-align: start;
  padding: 20px;
  line-height: 30px;
}
.Childiv1{
  grid-area: 1/1/2/3;
  text-align: start;
  padding:20px;
  line-height:20px;
  font-size:11px;
}
.Childiv h6{
  font-weight: bold;
}
.Childiv1>h6{
  font-weight: light;
  font-size: 14px;
  color:grey;
}
.Childiv1>img{
  width:35%;
  height:19%;
}
.Childiv>ul{
  list-style-type: none;
}
.Childiv li{
  font-size: 16px;
}
.Childiv li:hover{
  cursor: pointer;
  color:#03a9f4 ;
}
.Bottom{
    display: grid;
    grid-template-columns:50% 50% ;
    width:70%;
    margin:auto;
    padding: 20px;
}
.Division1>div:nth-child(1){
    display: flex;
    font-size: 13px;
    gap:14px;
    flex-wrap: wrap;
}
.Division1>div:nth-child(2){
    font-size: 13px;
}

.Division2>div{
    display:flex;
    justify-content: flex-end;
    padding:8px;
    gap:20px;
    font-size:17px;
    color:grey;
    flex-wrap: wrap;
}
@media only screen and (min-width:480px)  and (max-width:980px){
.FGrid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    width:100%;
}
.Childiv1>img{
  width:85%;
  height:25%;
}
.Childiv1{
  grid-area: 1/1/2/2;
  padding:10px;
  line-height:10px;
  font-size:11px;
}
.Childiv li{
  font-size: 13px;
}

}
@media only screen and (min-width:0px)  and (max-width:479px){
.FGrid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    width:100%;
}
.Childiv1>img{
  width:85%;
  height:25%;
}
.Childiv1{
  grid-area: 1/1/2/2;
  padding:10px;
  line-height:10px;
  font-size:11px;
}
.Childiv li{
  font-size: 13px;
}
}
