.NavContainer {
  display: flex;
  justify-content: center;
  background-color: #f7fcff;
}
.Navbox {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  padding: 10px;
}
.Logo {
  width: 20%;
  height: 100%;
}
.Logo > img {
  width: 100%;
  height: 100%;
  margin: 1rem 0;
  cursor: pointer;
}

.Navflex {
  width: 80%;
  display: flex;
  padding-left: 2rem;
  justify-content: space-between;
  align-items: center;
}
.Navflex h6 {
  padding: 0;
  margin: 0;
}

.Navflex h6:hover {
  color: #03a9f4;
  cursor: pointer;
}
.Navflex > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.bttn2 {
  padding: 6px;
  width: 100px;
  margin: 8px;
  border: 1px solid #03a9f4;
  background-color: white;
  color: #03a9f4;
}

.bttn2:hover {
  background-color: #3393dd;
  color: white;
}

.bttn6 {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  width: 40%;
}
.bttn6 h6 {
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.bttn6 h6:hover {
  color: #03a9f4;
}

@media only screen and (min-width: 665px) and (max-width: 980px) {
  .NavContainer {
    width: 100%;
    padding: 0;
  }
  .Navbox {
    width: 100%;
  }
  .Logo > img {
    width: 100%;
    height: 80%;
    cursor: pointer;
  }
}
@media only screen and (min-width: 0px) and (max-width: 664px) {
  .NavContainer {
    width: 100%;
    padding: 0;
  }
  .Navbox {
    width: 100%;
    margin: auto;
  }
  .Navflex > div {
    gap: 10px;
  }
  .Navflex h6 {
    font-size: 13px;
  }
  .bttn2 {
    padding: 4px;
    width: 50px;
    font-size: 10px;
    margin: 8px;
  }
  .Logo > img {
    height: 90%;
  }
}
