.Slideopen{
    height: 100%;
    width: 70px;
    
    border: 2px solid black;
}
.Slideclose{
     height: 100%;
     width: 200px;
     border: 2px solid red;
     /* position: sticky; */
}
.main{
    width: 100%;
    height: 100vh;
    background-color: black;
    color:white;
    /* position: absolute; */
}
.Slidebar{
 height: 100%;
 width: 100%;
 border:1px solid greenyellow ;
}
.slidingfuncbox{
    display: flex;

}

.navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin:auto;
    text-align: center;
    /* position: fixed; */
    background-color: black;
    height: 45px;
    margin:auto;

}
.Slideflex{
    display: flex;
  
   
}
.navbar div{
    border:1px solid black;

}
.navbarleftmain{
    display: flex;
    margin-top: 5px;
    justify-content: space-between;
    width: 160px;
}
.navbarleftmain img{
    width: 100px;
    height: 90%;
    margin-left: 10px;
    
  
}
.upgradebtn{
   
}
.upgradebtn button{
    margin:auto;
    color:skyblue;
    background-color: rgb(39, 36, 36);
    border-radius: 3px;
    border: 1px solid skyblue;
    font-size: 12px;
    margin-top: 10px;
   
    padding-left: 10px;
    padding-right: 10px;
}
.upgradebtn button:hover{
    color:white;
    background-color: rgb(12, 172, 235);
}
.navbarrightmain{
    display: flex;
    justify-content: space-between;
    width: 45%;
    
   
}
.pages{
    width: 100%;
    height: 100vh;
    background-color: rgb(87, 87, 85);
}
.menuicons{
    margin-left: 10px;
}
@media (max-width:800px) and (min-width:300px){
    .navbarrightmain{
        width: 80%;
    }
}