.main{
    width: 57px;
    margin:auto;
    height: 100vh;
    background-color: rgb(61, 60, 60);
    /* border: 2px solid greenyellow; */
}
.icons1{
    font-size: 30px;
    padding-top: 7px;
    margin:auto;

}
.iconsbox div{
      height: 50px;
      width: 60px;
      
      background-color: rgb(61, 60, 60);
      color:rgb(200, 197, 197);
     
      /* border:1px solid red; */
     
      padding: 5px;

      padding-left: 10px;
      
}
.iconsbox div:hover{
    cursor: pointer;
    color:whitesmoke;
    background-color: rgb(87, 87, 85);
}
.navlink{
     z-index: 100000000;
}
.navbaractive{
    background-color: green;
     color: green;
}
.navbaractive div{
    background-color: green;
    color:green;
}
.navbarnotactive{
    background-color:red;
    color:red
}