.Nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:80px;
    padding:10px;
    margin:auto 30px;
}
.Logo{
    width:13%;
}
.Nav img{
    width:100%;
    height:100%;
}
.Navflex{
    width:87%;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    gap:20px;
}
.Navflex h6:nth-child(1){
    color:#b0b1b2;
}
.signUp{
    color:#03a9f4 !important;
}
.navW{
    width:75%;
    margin: auto;
}
