.optionsbox{
    display: grid;
    grid-template-columns: repeat(3,120px);
    grid-template-rows: repeat(2,40px);
    gap:10px
}

.optionsbox button{
    width: 110px;
    padding: 7px;
    /* gap:10px */
   
}
.options{
    width: 30%;
   
}
.optionsreport{

}
.optionsboxreport{
    display: grid;
    /* margin:auto; */
    text-align: center;
    grid-template-columns: repeat(2,110px);
    grid-template-rows: repeat(2,40px);
    gap:10px
}
.optionsboxreport button{
    width: 110px;
    padding: 7px;   
}
.main{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin:auto;
    text-align: center;
    justify-content: space-between;
} 
.main>div{
    display: flex;
    flex-wrap: wrap;
}
.main>h2{
    font-size: 30px;
}
.main h4{
    color:rgb(163, 152, 152)
}
.main button{
    border:none;
    border-radius: 4px;
    background-color: rgb(226, 239, 244);
}
.main button:hover{
   background-color: rgb(7, 174, 240);
   color:white;
   cursor: pointer;
}
@media (max-width:1000px) and (min-width:300px) {
    .main{
        background-color: yellow;

    }
    .optionsbox{
        display: grid;
        grid-template-columns: repeat(3,120px);
        grid-template-rows: repeat(2,40px);
        gap:10px
    }
    .optionsboxreport{
        display: grid;
        /* margin:auto; */
       
      border: 1px solid red;
      margin-top: 20px;
        grid-template-columns: repeat(2,110px);
        grid-template-rows: repeat(2,40px);
        gap:10px
    }.optionsreport{
        margin-top: 10px;
       
       
        border:1px solid black
    }
    .optionsreport h4{
        margin-top: 0px;
    }
    
}