.Task {
  width: 70%;
  margin: auto;
  background-color: #e4eaee;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.TaskHead {
  width: 70%;
  margin: auto;
  padding: 0.35rem 1.2rem;
  background-color: #e4eaee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px light grey;
}
.TaskHead > h6 {
  padding: 0;
  margin: 0;
}
.Edit {
  display: flex;
  font-size: 1.2rem;
  align-items: center;
  gap: 1.2rem;
}
.Edit > h6 {
  padding: 0;
  margin: 0;
}
.Desc {
  width: 100%;
  margin: auto;
  padding: 1rem;
  background-color: #fff;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-around;
}
.Desc > input {
  padding: 0.5rem;
  border: none;
}

.Projects {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 22px;
  color: #1cb9f7;
  gap: 0.6rem;
}
.Projects > h6 {
  margin: 0;
  padding: 0;
}
.Tags {
  color: grey;
  border-left: 1px light grey;
  border-right: 1px light grey;
}
.Tags:hover {
  cursor: pointer;
  color: #1cb9f7;
  color: grey;
  border-left: 1px light grey;
  border-right: 1px light grey;
}
.Tags2 {
  color: grey;
  border-left: 1px light grey;
  border-right: 1px light grey;
}
.Tags2:hover {
  color: red;
  cursor: pointer;
}
.Tags3 {
  color: grey;
  border-left: 1px light grey;
  border-right: 1px light grey;
}
.Tags3:hover {
  color: green;
  cursor: pointer;
}
.Time {
  display: flex;
  gap: 20px;
}
.Time > h6 {
  padding: 0;
  margin: 0;
}

.Up > input {
  padding: 0.3rem;
  width: 100%;
}
.Up {
  width: 20%;
  padding: 8px;
}
.Up > h6 {
  padding: 0;
  margin: 0;
}
.Up:hover {
  cursor: pointer;
}

@media only screen and (max-width: 980px) {
  .Tags {
    display: none;
  }
  .Task {
    width: 80%;
  }
  .TaskHead {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  .Tags {
    display: none;
  }
  .Projects {
    display: none;
  }
  .Task {
    width: 90%;
  }
  .TaskHead {
    width: 90%;
  }
  .Desc {
    padding: 0.5rem;
  }
}
